<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark" style="height: 80px;">
  <!-- Left navbar links -->
  <ul class="navbar-nav align-items-lg-center">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars" style="font-size: 25px;"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="../../index3.html" class="nav-link" style="font-size: 20px;">Página inicial</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link" style="font-size: 20px;">Contato</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto center align-items-lg-center">
    <!-- Navbar Search -->
    <li class="nav-item">
      <a class="nav-link" data-widget="navbar-search" href="#" role="button">
        <i class="fas fa-search" style="font-size: 25px;"></i>
      </a>
      <div class="navbar-search-block">
        <form class="form-inline">
          <div class="input-group">
            <input class="form-control form-control-navbar" type="search" placeholder="Pesquisar" aria-label="Search">
            <div class="input-group-append">
              <button class="btn btn-navbar" type="submit">
                <i class="fas fa-search" style="font-size: 20px;"></i>
              </button>
              <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-sm btn-default mr-2">Dark mode</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-sm btn-default mr-2">English</button>
    </li>
  </ul>
</nav>
<!-- /.navbar -->